<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">Customer Form</div>
      <div class="card-body">
        <form #customerForm="ngForm" (submit)="handleSubmit($event,customerForm)">
          <div>
            <label>FirstName</label>
            <input autofocus type="text"
                   class="form-control"
                   [(ngModel)]="customer.fistName" name="firstName"
                   required
                   minlength="3"
            >
            <div class="text-danger">
              <div *ngIf="customerForm.controls['firstName'].invalid && customerForm.controls['firstName'].touched">
                <div *ngIf="customerForm.controls['firstName'].errors?.['required']">
                  First name is required
                </div>
                <div *ngIf="customerForm.controls['firstName'].errors?.['minlength']">
                  First name must be at least 3 characters
                </div>
              </div>
            </div>
          </div>
          <div >
            <label>LastName</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="customer.lastName"
                   name="lastName">
          </div>
          <hr/>
          <button class="btn btn-primary">Submit</button>
          <hr/>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">

    <hr/>
    FormGroup
    <hr/>

    <pre>
      is pristine : {{customerForm.pristine}}
      is dirty    : {{customerForm.dirty}}
      is untouched: {{customerForm.untouched}}
      is touched  : {{customerForm.touched}}
      is valid    : {{customerForm.valid}}
      is invalid  : {{customerForm.invalid}}
    </pre>


    <hr/>
    Form Control ( e.g firstName )
    <hr/>
    <pre>
      is pristine  : {{customerForm.controls['firstName'].pristine}}
      is dirty     : {{customerForm.controls['firstName'].dirty}}
      is untouched : {{customerForm.controls['firstName'].untouched}}
      is touched   : {{customerForm.controls['firstName'].touched}}
      is valid     : {{customerForm.controls['firstName'].valid}}
      is invalid   : {{customerForm.controls['firstName'].invalid}}
    </pre>

    <hr/>
    Form Model
    <hr/>
    <pre>
      {{customerForm.value|json}}
    </pre>

  </div>
</div>
